:root{
    --negro:#000;
    --primary: #243aff;
    --primary2: #243aff85;
    --primaryhover: rgb(0, 65, 163);
    --primary4: #0d6efd4b;
    --primary5: #0d6efd5b;
    --primary8: #0d6efd8b;
    --secondary: #6c757d;
    --success: #198754;
    --successhover: hsl(152, 74%, 30%);
    --info: #0dcaf0;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #212529;
    --gradient: linear-gradient(180deg, #ffffff26, #ffffff00);
    --body-color: #212529;
    --body-bg: #fff;
    --ncolor:#fff;
    --trans:#00000015;
    --trans2:#00000050;
    --bord: 1px solid #00000050;
    --text1:#fff;
    --vw:100vw;
    --link:#ff5;
}
.br-t{
    border-top:var(--bord);
}
.br-r{
    border-right:var(--bord);
}
.mt5{
    margin-top: 50px;
}